.vscode/c_cpp_properties.json
RTC Clock/pcb_design/Atmel-7810-Automotive-Microcontrollers-ATmega328P_Datasheet.pdf
RTC Clock/simulation/Last Loaded New Project.pdsbak
RTC Clock/simulation/New Project.pdsprj.LAPTOP-KF378KLO.Chathuni.workspace
*.Zip
