.vscode/c_cpp_properties.json
RTC Clock/pcb_design/Atmel-7810-Automotive-Microcontrollers-ATmega328P_Datasheet.pdf
RTC Clock/simulation/Last Loaded New Project.pdsbak
RTC Clock/simulation/New Project.pdsprj.LAPTOP-KF378KLO.Chathuni.workspace
*.Zip
RTC Clock/pcb design/alarm_timing/alarm_timing/alarm_timing.PrjPcbStructure
RTC Clock/pcb design/alarm_timing/alarm_timing/Project Output/alarm_timing.GTS
RTC Clock/src/alarm_timing/.vs/alarm_timing/v14/.atsuo
RTC Clock/src/alarm_timing/alarm_timing.atsln
RTC Clock/src/alarm_timing/alarm_timing/alarm_timing.componentinfo.xml
RTC Clock/src/alarm_timing/alarm_timing/alarm_timing.cppproj
RTC Clock/src/alarm_timing/alarm_timing/Debug/Alarm_timing.d
RTC Clock/src/alarm_timing/alarm_timing/Debug/alarm_timing.eep
RTC Clock/src/alarm_timing/alarm_timing/Debug/alarm_timing.elf
RTC Clock/src/alarm_timing/alarm_timing/Debug/alarm_timing.hex
RTC Clock/src/alarm_timing/alarm_timing/Debug/alarm_timing.lss
RTC Clock/src/alarm_timing/alarm_timing/Debug/alarm_timing.map
RTC Clock/src/alarm_timing/alarm_timing/Debug/Alarm_timing.o
RTC Clock/src/alarm_timing/alarm_timing/Debug/alarm_timing.srec
RTC Clock/src/alarm_timing/alarm_timing/Debug/main.d
RTC Clock/src/alarm_timing/alarm_timing/Debug/main.o
RTC Clock/src/alarm_timing/alarm_timing/Debug/makedep.mk
RTC Clock/src/alarm_timing/alarm_timing/Debug/Makefile
RTC Clock/enclosure/Base.SLDPRT
RTC Clock/enclosure/Enclosure.SLDASM
RTC Clock/enclosure/PCB.SLDASM
RTC Clock/enclosure/pcb.SLDPRT
RTC Clock/enclosure/Sidewall 1.SLDPRT
RTC Clock/enclosure/Sidewall 2.SLDPRT
RTC Clock/enclosure/~$Base.SLDPRT
RTC Clock/enclosure/~$Enclosure.SLDASM
RTC Clock/enclosure/~$pcb.SLDPRT
RTC Clock/enclosure/~$Sidewall 1.SLDPRT
RTC Clock/enclosure/~$Sidewall 2.SLDPRT
RTC Clock/pcb design/alarm_timing/__Previews/alarm_timing.SchDocPreview
RTC Clock/pcb design/alarm_timing/__Previews/DS3231.SchDocPreview
RTC Clock/pcb design/alarm_timing/__Previews/Sheet1.SchDocPreview
RTC Clock/pcb design/alarm_timing/alarm_timing v1/alarm_timing-macro.APR_LIB
RTC Clock/pcb design/alarm_timing/alarm_timing v1/alarm_timing-RoundHoles.TXT
RTC Clock/pcb design/alarm_timing/alarm_timing v1/alarm_timing-SlotHoles.TXT
RTC Clock/pcb design/alarm_timing/alarm_timing v1/alarm_timing.apr
RTC Clock/pcb design/alarm_timing/alarm_timing v1/alarm_timing.DRR
RTC Clock/pcb design/alarm_timing/alarm_timing v1/alarm_timing.EXTREP
RTC Clock/pcb design/alarm_timing/alarm_timing v1/alarm_timing.GBL
RTC Clock/pcb design/alarm_timing/alarm_timing v1/alarm_timing.GBO
RTC Clock/pcb design/alarm_timing/alarm_timing v1/alarm_timing.GBS
RTC Clock/pcb design/alarm_timing/alarm_timing v1/alarm_timing.GKO
RTC Clock/pcb design/alarm_timing/alarm_timing v1/alarm_timing.GM1
RTC Clock/pcb design/alarm_timing/alarm_timing v1/alarm_timing.GTL
RTC Clock/pcb design/alarm_timing/alarm_timing v1/alarm_timing.GTS
*.GTO
*.LDP
*.REP
*.RUL
*.drc
RTC Clock/pcb design/alarm_timing/alarm_timing v1/Design Rule Check - alarm_timing.html
RTC Clock/pcb design/alarm_timing/alarm_timing v1/Status Report.Txt
RTC Clock/pcb design/alarm_timing/alarm_timing.PcbDoc
RTC Clock/pcb design/alarm_timing/alarm_timing.PrjPcb
RTC Clock/pcb design/alarm_timing/alarm_timing.PrjPcbStructure
RTC Clock/pcb design/alarm_timing/alarm_timing.SchDoc
*.Cam
*.SchDoc
RTC Clock/pcb design/alarm_timing/Job1.OutJob
RTC Clock/pcb design/alarm_timing/Project Logs for alarm_timing/alarm_timing PCB ECO 5-8-2021 11-05-03 PM.LOG
*.LOG
*.SLDPRT
